body{
    background-color:wheat;
}

.header-contanier{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}
#header-img{
    width: 500px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 30px;
}

h2{
    text-align: center;
    font-family: sans-serif;
}
.pokedex-container{
    display: flex;
    justify-content: space-between;
    border: solid yellow;
    border-radius: 10px;
    
    padding: 75px;
    font-family: sans-serif;
    background-color: darkorange;
    
    
}
.pokemon-select-container1{
    flex-direction: column;
    
    padding: 10px;
    
    padding: 10px;
}
#pokemon-select{
    font-family: sans-serif;
    height: 42px;
    border-radius: 10px;
    font-size: medium;
    color: gray;
    
}
#showPokemon{
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-size: medium;
    font-family: sans-serif;
    border: solid yellow;   
    font-weight: bold; 
}
.vs-container{
    position: relative;
    

}
.pokemon-select-container2{
    flex-direction: column;
    
    padding: 10px;
}
#pokemon-select-2{
    font-family: sans-serif;
    height: 42px;
    border-radius: 10px;
    font-size: medium;
    
    color: gray;
}
#showPokemon-2{
    font-family: sans-serif;
    padding: 10px;
    color: yellow;
    background-color: blue;
    border-radius: 10px;
    font-size: medium;
    border: yellow solid;
    font-weight: bold;
}
.pokemon-details-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    
}
#pokemon-details {
    background-color:beige;
    display: none;
    font-family: sans-serif;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    
}

#pokemon-details-2{
    background-color: beige;
    display: none;
    font-family: sans-serif;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
.battle-text-container{
    display: flex;

}

.battle-text{
    display: flex;
    flex-direction: column;
}
.heavier{
    color: green;
    background-color: lightgreen;
}
.lighter{
    color: red;
    background-color: lightcoral;
}
.green{
    color: green;

}
.red{
    color: red;
}
#comparePokemons{
    font-family: sans-serif;
    padding: 10px;
    color: yellow;
    background-color: blue;
    border-radius: 10%;
    font-size: medium;
    border: yellow solid;
    font-weight: bold;
}